footer-box {
    padding-top: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
    backdrop-filter: blur(7.6px);
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 119.92%);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.footer__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-footer-container {
    max-width: 381px;
}

.footer .logo__box {
    width: 100%;
    max-width: 560px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__descr {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.footer__copyright {
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__link {
    text-decoration: underline;
}

.contact__social-box {
    display: flex;
    gap: 15px;
}

.contact__social-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill .3s ease-in-out;

}

.contact__social-icon:hover {
    cursor: pointer;
    fill: #D9FF3F;
}


@media(max-width: 999px) {
    .footer {
        min-height: 66px;
        padding: 40px 0;
    }

    .footer__container {
        gap: 20px;
        position: relative;
    }

    .footer__heading {
        margin-bottom: 10px;
        max-width: 397px;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
    }

    .menu-footer-container {
        max-width: 100%;
        display: flex;
        align-items: center;
        margin-left: -10px;
    }

    #menu-footer {
        display: flex;
        gap: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .footer__descr {
        max-width: 397px;
        gap: 10px;
    }

    .footer__contact {
        position: absolute;
        right: 16px;
        top: 0;
    }
}

@media(max-width: 640px) {
    .footer__descr {
        max-width: 100%;
        gap: 15px;
    }

    .footer__heading {
        margin-bottom: 61px;
    }

    .footer__contact {
        font-size: 12px;
        gap: 10px;
        top: 35px;
    }

    .menu-footer-container {
        margin-left: 0;
    }

    #menu-footer {
        flex-direction: column;
        font-size: 14px;
    }

    #menu-footer .menu-item a {
        padding: 0;
    }
}